extends layout

block content
  body.home-page
    .homepage-container
      .slideshow
        .login-box
          .inner-padding
            h3 TellyChatter
            p
              a#twitbutt.sb.sb-small.sb-twitter(href="/auth/twitter") 
                i 
                | Sign in with Twitter
              em or
              a#fbbutt.sb.sb-small.sb-facebook(href="/auth/facebook") 
                i
                | Sign in with facebook

