extends layout

block content
  link(rel="stylesheet", href="css/tellychatter.css", type="text/css")
  script(src="js/zepto.min.js", type="text/javascript", charset="utf-8")
  script(src="js/tellychatter.js", type="text/javascript", charset="utf-8")
  #programs
    //- h1 TellyChatter
    ul(id="channels")

