- var fullStatus = ['available', 'away', 'busy']
- var current;
.dropdown.dropdown-status
	i
	a.selected(class='#{user.status}', href='#')
		b
		| #{user.status}
	.dropdown-options
		.triangle
		.list
			a(class='option logout', href='/logout') Sign Out
			
